/*RESET CSS */

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:var(--fonte-corpo);
    background:var(--cor-fundo);
    color:var(--cor-texto);
    line-height:1.6;
    overflow-x:hidden;
}

img{
    max-width:100%;
    display:block;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

/* VARIÁVEIS */

:root{

    --cor-primaria:#1A6B3A;
    --cor-secundaria:#0D1B2A;
    --cor-destaque:#4CAF82;
    --cor-alerta:#FF6B35;

    --cor-texto:#E8F4E8;
    --cor-texto-dark:#1A1A2E;

    --cor-fundo:#08111f;
    --cor-card:#132538;
    --cor-borda:#2E8B57;

    --fonte-titulo:'Orbitron',sans-serif;
    --fonte-corpo:'Inter',sans-serif;

    --esp-sm:.5rem;
    --esp-md:1rem;
    --esp-lg:2rem;
    --esp-xl:4rem;

    --radius-card:20px;
    --radius-btn:8px;

}

/* BODY */

body{
    background:
    radial-gradient(circle at top,#14304d,#08111f 60%);
}

header{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:1000;
}

/* NAVBAR */

.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:1rem 5%;

    backdrop-filter:blur(12px);

    background:rgba(8,17,31,.75);

    border-bottom:1px solid rgba(255,255,255,.08);

}

.logo {
    height: auto;
    width: 150px;
}

.logo-empresa{
    font-size:.8rem;
    opacity:.8;
}

.logo-produto{
    font-family:var(--fonte-titulo);
    color:var(--cor-destaque);
    font-size:1.3rem;
}

.nav-links{
    display:flex;
    gap:1rem;
}

.nav-links a{

    padding:.7rem 1rem;

    border-radius:30px;

    transition:.3s;

}

.nav-links a:hover{
    background:var(--cor-primaria);
}